:root {
    --length: 64;
    --res: 1024px;
}

body {
    background-color: lightblue;
}

#container {
    display: grid;
    width: var(--res);
    height: var(--res);
    grid-template-columns: repeat(var(--length), 1fr);
}

.square {
    padding: 1em;
    border: 1px solid rgba(221, 221, 221, 0.363);
    text-align: center;
    background-color: white;
  }